body {
    background-color: blue;
    animation: flashBackground 0.5s infinite alternate;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    font-size: x-large;
    transform: rotate(360deg);
    animation: spin 3s infinite linear, zoom 2s infinite alternate;
}


h1 {
    color: rgb(192, 7, 146);
    animation: 
    colorChange 1s infinite,
    bounce 1s infinite;
    font-size: xx-large;
}
@keyframes colorChange {
    0% { color: red; }
    50% { color: orange; }
    100% { color: purple; }
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}


p {
    color: hotpink;
    animation: moveText 2s infinite;
    font-size: smaller;
    letter-spacing: 5px;
}


a {
    color: hotpink;
    animation: bounce 1s infinite alternate;
    text-decoration: underline dotted rgb(61, 255, 213);
}

img {
    border: 5px dotted red;
    animation: rotateImage 5s infinite;
    filter: hue-rotate(360deg);
}



/*
Classes
*/

.leftmost-column {
    position: absolute;
    
}

.about-me {
    color: yellow;
    margin: 20px 50px 10px;
    max-width: 700px;
    text-align: justify;
}

.middle-column {
    display: box;
}